@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}

header {
background-color: #3d97c0;
color: #000000;
padding: 1rem;
text-align: center;
font-family: "Kanit";
}

nav ul {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
gap: 50px ;
}
        
a {
color: #000000;
text-decoration: none;
}

main {
padding: 3vw;
}

form {
background-color: #ffffff;
padding: 2rem;
border-radius: 5px;
box-shadow: 0 0 10px #0000001a;
}

input, textarea {
width: 100%;
padding: 0.5rem;
margin-bottom: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
}

textarea {
height: 6rem;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 1rem;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}

footer {
text-align: center;
padding: 1rem;
background-color: #3d97c0;
color: #000000;
position: fixed;
width: 100%;
bottom: 0;
font-family: "Kanit";
}
